<h1>Profile Page for <%= @user.name %></h1>

<section id="profile-data">
  <h2>Order Data</h2>
  <p>Email: <%= @user.email %></p>
  <p>Role: <%= @user.role %></p>
  <aside id="address-details">
    <h3>Address:</h3>
    <p><%= @user.addresses.first.address %></p>
    <p>
      <%= @user.addresses.first.city %>,
      <%= @user.addresses.first.state %>
      <%= @user.addresses.first.zip %>
    </p>
  </aside>
  <%= link_to "Add address", new_user_address_path(@user) %>
  <% if @addresses %>
    <p>Other Addresses</p>
    <%  @addresses.each do |address| %>
    <section id="address-<%=address.id%>">
      <p>
        <%= address.nick_name %> :
        <%= address.address %>,
        <%= address.city %>
        <%= address.state %>,
        <%= address.zip %>
      </p>
      <%= link_to "Delete #{address.nick_name}", user_address_path(@user, address), method: :delete %>
      <%= link_to "Edit #{address.nick_name}", edit_user_address_path(@user, address) %>

      </section>
    <% end %>
  <% end %>
  <p><%= link_to 'Edit Profile Data', edit_profile_path unless current_admin? %></p>
</section>

<section id="orders-data">
  <h2>Order Data</h2>
  <p><% if @user.orders.any? %>
  <%= link_to 'Customer Orders', profile_orders_path %>
  <% else %>
  You have no orders yet.
  <% end %></p>
</section>
